.navbar {
    width: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(33, 124, 148, 1) 100%);
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links>a:hover {
    color: rgb(255, 225, 0);
    opacity: 0.5;
    text-decoration-line: underline;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 25px;
}

.toggleButton {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.toggleButton svg {
    font-size: 50px;
}

.toggleButton button {
    margin-right: 20px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

#open {
    height: auto;
}

#open .links {
    flex-direction: column;
}

#open a {
    width: 100%;
    text-align: center;
}

@media only screen and (min-width: 575px) {
    .toggleButton {
        display: none;
    }

    #open {
        height: 100px;
    }

    #open .links {
        flex-direction: row;
    }
}

@media only screen and (max-width: 575px) {
    .toggleButton {
        display: flex;
    }

    #close a {
        display: none;
    }

    .navbar a {
        font-size: 20px;
    }
}