.project {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project img {
  max-width: 90%;
  height: auto;
  margin-top: 50px;
  max-width: 90%;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.project h1 {
  margin-top: 50px;
  color: #3e497a;
  font-size: 35px;
  max-width: 90%;
}

.project p {
  font-size: 20px;
  color: #3e497a;
  max-width: 90%;
}

.project svg {
  font-size: 60px;
  color: #3e497a;
  margin-bottom: 50px;
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite;   
}

@-webkit-keyframes rotating

/* Safari and Chrome */
    {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.project svg:hover {  
  color: rgb(255, 225, 0);
  opacity: 0.5;
}

.project li {
  display: inline;
  margin: 10px;
}


@media only screen and (max-width: 575px) {
  .project h1 {
    font-size: 30px;
  }
  
  .project p {
    font-size: 15px;
  }

  .project svg {
    font-size: 50px;
  }
}
